@charset "utf-8";

.tag
{
}

.tag__group
{
	margin: 10px;
}

.tag__group::after
{
	content: "";
	display: block;
	clear: both;
}

.tag__group__title
{
	margin: 0;
	padding: 0;

	float: left;
	line-height: 100%;
	width: 10em;
}

.tag__group__list
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tag__group__item
{
	float: left;
	margin: 0 2em 0 0;
	line-height: 100%;
}
